* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    background-color: #52503B;
    padding: 15px 0px 15px 0px;
    z-index: 10;
}

.header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

.header-menu__item {
    margin: 0px 25px 0px 0px;
}

.header-menu__link {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}

.header-button__btn {
    border: none;
    background-color: #fff;
    color: #52503B;
    font-size: 16px;
    padding: 11px 18px 11px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.main {
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    padding: 248px 0px 90px 0px;
}

.main-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.main__logo {
    margin: 0px 0px 37px 0px;
}

.main-title {
    text-align: center;
}

.main-title h1 {
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    line-height: 53px;
}

.main-title h1 span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 20px;
    margin: 35px 0px 113px 0px;
}

.main-info {
    background-color: #FAF8F0;
    padding: 100px 0px 100px 0px;
}

.main-info-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 32px 0px 0px 0px;
}

.main-info__left {
    max-width: 360px;
    margin: 0px 40px 0px 0px;
}

.main-info__right {
    max-width: 343px;
}

.main-info__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
}

.main-info__right-text {
    margin: 0px 0px 40px 0px;
}

.main-info__btn {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    color: #fff;
    padding: 11px 18px;
    background-color: #52503B;
    border-radius: 6px;
    margin: 0px 0px 0px 0px;
}

.line-top {
    width: 42px;
    height: 8px;
    background-color: #E08631;
    margin: 0 auto;
}

.line-left {
    width: 42px;
    height: 8px;
    background-color: #E08631;
}

.block-relax {
    padding: 100px 0px 140px 0px;
}

.block-relax__heading h2 {
    font-size: 96px;
    font-weight: 700;
    color: #52503B;
    text-align: center;
    line-height: 96px;
    margin: 32px 0px 0px 0px;
}

.block-img-tables {
    background-color: #FAF8F0;
}

.block-img-tables img {
    width: 100%;
    height: 100%;
    background-position: 0 0;
    background-size: cover;
}

.block-sleeping-arrangements {
    background-color: #FAF8F0;
    padding: 100px 0;
}

.block-sleeping-arrangements__title h3 {
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    color: #52503B;
    line-height: 36px;
    margin: 30px 0px 12px 0px;
}

.block-sleeping-arrangements__text p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    max-width: 554px;
    margin: 0 auto 30px;
}

.block-sleeping-arrangements-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.block-sleeping-arrangements-item {
    text-align: center;
    -ms-flex-preferred-size: calc(100% - 346px);
    flex-basis: calc(100% - 346px);
    margin: 0px 64px 0px 0px;
}

.block-sleeping-arrangements-item:last-child {
    margin: 0px 0px 0px 0px;
}

.block-sleeping-arrangements-item span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.block-sleeping-arrangements-item p {
    font-size: 14px;
    font-weight: 400;
}

.block-sleeping-arrangements-icon {
    margin: 0px 0px 12px 0px;
}

.block-escape {
    padding: 100px 0px 100px 0px;
}

.block-escape__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin: 30px 0px 12px 0px;
}

.block-escape__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 554px;
    margin: 0px 0px 30px 0px;
}

.block-escape-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.block-escape-item {
    -ms-flex-preferred-size: 568px;
    flex-basis: 568px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 32px 0px;
}

.block-escape-icon {
    margin: 0px 16px 0px 0px;
}

.block-escape__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #52503B;
}

.block-escape__card-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
}

.block-quests {
    background-color: #FAF8F0;
    padding: 100px 0px 70px 0px;
}

.block-quests__title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #52503B;
    margin: 30px 0px 12px 0px;
}

.block-quests__text {
    max-width: 572px;
    margin: 0 auto 30px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
}


/* .block-quests-carousel {
} */

.block-quests__card {
    background-color: #fff;
    max-width: 584px;
    padding: 31px 31px 31px 31px;
    margin: 0px 20px 0px 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}

.block-quests__card-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #333;
    margin: 0px 0px 11px 0px;
}

.block-quests__card-text {
    margin: 0px 0px 19px 0px;
}

.block-quests__card-text p {
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    transition: 0.9s ease;
}

.block-quests__card-user {
    border-left: 2px solid #E08631;
    padding: 0px 0px 0px 10px;
}

.block-quests__stars-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.block-quests__stars-list li {
    display: block;
    background-image: url(../img/star.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 18px;
    height: 18px;
    margin: 0px 1px 0px 1px;
}

.block-quests__card.slick-active .block-quests__card-text p {
    overflow: none;
    height: 100px;
    transition: 0.9s ease;
}

.block-img-table img {
    width: 100%;
    background-position: 0 0;
    background-size: cover;
}

.block-together {
    padding: 100px 0px 100px 0px;
}

.block-together-row {
    display: flex;
    justify-content: space-between;
}

.line-left {}

.block-together__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: #52503B;
    margin: 30px 0px 12px 0px;
}

.block-together__text {
    font-size: 16px;
    font-weight: 400;
    color: #52503B;
}

.block-together-counter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.block-together-counter__item {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 58px 0px;
}

.block-together-counter__icon {
    margin-right: 16px;
}

.block-together-counter__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
}

.block-booked {
    padding: 100px 0px 100px 0px;
    background-color: #FAF8F0;
}

.line-top {}

.block-booked__title {
    text-align: center;
    max-width: 533px;
    margin: 30px auto 12px auto;
}

.block-booked__text {
    text-align: center;
    max-width: 533px;
    margin: 0 auto 20px;
}

.block-booked-buttons {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.block-booked__btn button {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 16px 26px;
    border: 4px solid #52503B;
    border-radius: 6px;
    background-color: #52503B;
    color: #fff;
    transition: all 0.3s ease;
}

.block-booked__btn button:hover {
    background-color: transparent;
    color: #52503B;
}


/*# sourceMappingURL=style.css.map */